{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success">
                    </i>
                </div>
                <div>Producto
                    <div class="page-title-subheading">Editar un producto
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('product/_form.html.twig', {'button_label': 'Actializar'}) }}

    <a href="{{ path('product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}

    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>

    <script type="text/javascript">
        $("#product_attachment").on('change', function () {

            if (typeof (FileReader) != "undefined") {

                var image_holder = $("#image-holder");
                image_holder.empty();

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", {
                        "src": e.target.result,
                        "class": "img-fluid img-thumbnail",
                        "width": "170px"
                    }).appendTo(image_holder);

                };
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[0]);
            } else {
                alert("This browser does not support FileReader.");
            }
        });

    </script>

{% endblock %}
